out/
build/

# Visual Studio
Debug/
Release/
ipch/
.vs/
.cache/

*.suo
*.user
*.aps
*.ncb
*.opt
*.plg
*.clw
*.ilk
*.pdb
*.idb
*.res
*.sbr
*.bsc
*.obj
*.pch
*.tmp
*.log
*.tlog
*.ipch
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb